body{
     margin: 0;
     background-color: white;
}
@font-face{
     font-family: Poppins-Bold;
     src: url(../font/Poppins-Bold.ttf);
}
@font-face{
     font-family: Poppins-Medium;
     src: url(../font/Poppins-Medium.ttf);
}
    .content{
         background-color: white;
         height: 75px;
         }
    .navbar{
         position: fixed;
         top: 0;
         width: 100%;
         z-index: 99;
    }
    .navbar-default {
         background-color: #f8f8f8;
         border: none;
    }
    .navbar-header {
         height: 75px;
    }
    .navbar-default .navbar-brand {
         font-family: Poppins-Medium;
         font-size:20px;
         background-color: white;
         color: rgba(0,0,0,0.85);
         padding: 28px 0 28px 36px;
    }
    @media screen and (max-width: 767px){
    .navbar-collapse {
         height: 195px; 
         background-color: #1b1d1f;
         font-family: Poppins-Medium;
         font-size:13px;
         transition: all .3s cubic-bezier(0.89, 0.04, 0.58, 1);
       }
    .navbar-default .navbar-nav>li>a {
         color: white;
         line-height: 18px;
       }
    .navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover {
         color: rgba(255,255,255,0.2);
         background-color: transparent;
    }
    .navbar-nav {
         margin: 21px 6px;
         padding-left: 0;
         color: white;
    }
    .navbar-default .navbar-toggle {
         margin: 20px 10px 0 0;
         border: none;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: white;
    }
    }
    @media screen and (min-width: 768px){
    .navbar-collapse{
         float: right;
         margin-top: 12px;
         margin-bottom: 12px;
         font-family: Montserrat-Medium;
    }
    .navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover {
         color: #1b1d1f;
         background-color: transparent;
    }
    }
   .border{
        border: 0.5px solid rgba(0,0,0,0.04);
        width: 100%;
        margin-top: 75px;
        position: fixed;
        z-index: 99;
      }


@media screen and (max-width: 767px){
.container1{
     width: 90%;
     margin-left: auto;
     margin-right: auto;
}
.container1::after{
     content:"";
     display: block;
     clear: both;
}
.container2{
     width: 90%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
}
.container2::after{
     content:"";
     display: block;
     clear: both;
}
.row{
     margin: 0;
     position: relative;
     clear: both;
}
.row::after{
     content:"";
     display: block;
     clear: both;
}
.item{
     background: white;
     border: 1px solid rgba(0,0,0,0.06);
     position: relative;
     padding: 0;
     transition: all .2s ease-in-out;
}
.item02{
     background: white;
     border: 3px solid rgba(0,0,0,0);
     position: relative;
     padding: 0;
     transition: all .2s ease-in-out;
}
.img{
     padding-top: 100%;
     background-size: 80%;
     background-position: center; 
     background-repeat: no-repeat;
     position: relative;
     transition: all .2s ease-in-out;
}
img{
     width: 95%;
     padding-top: 150%; 
     background: transparent;
     background-size: 100%;
     background-position: center; 
     background-repeat: no-repeat;
     position: relative;
     margin: auto;
     margin-top: 120px;
     transition: all .2s ease-in-out;
}
.photo{
     height: 40vw;
     background-size: 120%;
     background-position: center; 
     background-repeat: no-repeat;
     position: relative;
     transition: all .2s ease-in-out;
}
.cover2{
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     background-color: transparent;
     transition: all .2s ease-in-out;
     position: absolute;
}
.img:hover{
     background-size: 50%;
     transition: all .2s ease-in-out;
}
.img:hover .cover2{
     background-color: rgba(0, 0, 0, 0.4);
     transition: all .3s ease-in-out;
}
.photo:hover{
     background-size: 130%;
     transition: all .2s ease-in-out;
}
.photo:hover .cover2{
     font-size: 14px;
     font-family: Montserrat-Medium; 
     color: white; 
     background-color: rgba(0, 0, 0, 0.4);
     transition: all .3s ease-in-out;
}
.select-btn-group{
     width: 100%;
     margin: 120px 0 30px 0;
     float: left;
     list-style:none;
     padding: 0;
     font-family: Montserrat-Medium;
     font-size:13px;
     color: #3D3D3D;
     display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px){
.container1{
     width: 90%;
     margin-left: auto;
     margin-right: auto;
}
.container1::after{
     content:"";
     display: block;
     clear: both;
}
.container2{
     width: 90%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
}
.container2::after{
     content:"";
     display: block;
     clear: both;
}
.row{
     margin: 0;
     position: relative;
     clear: both;
}
.row::after{
     content:"";
     display: block;
     clear: both;
}
.item{
     background: white;
     border: 1px solid rgba(0,0,0,0.06);
     position: relative;
     padding: 0;
     transition: all .2s ease-in-out;
}
.item02{
     background: white;
     border: 5px solid rgba(0,0,0,0);
     position: relative;
     padding: 0;
     transition: all .2s ease-in-out;
}
.img{
     padding-top: 100%;
     background-size: 80%;
     background-position: center; 
     background-repeat: no-repeat;
     position: relative;
     transition: all .2s ease-in-out;
}
img{
     width: 50%;
     padding-top: 100%; 
     background: transparent;
     background-size: 100%;
     background-position: center; 
     background-repeat: no-repeat;
     position: relative;
     margin: auto;
     margin-top: 0;
     transition: all .2s ease-in-out;
}
.photo{
     height: 27vw;
     background-size: 110%;
     background-position: center; 
     background-repeat: no-repeat;
     position: relative;
     transition: all .2s ease-in-out;
}
.cover2{
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     background-color: transparent;
     transition: all .2s ease-in-out;
     position: absolute;
}
.img:hover{
     background-size: 50%;
     transition: all .2s ease-in-out;
}
.img:hover .cover2{
     background-color: rgba(0, 0, 0, 0.4);
     transition: all .3s ease-in-out;
}
.photo:hover{
     background-size: 130%;
     transition: all .2s ease-in-out;
}
.photo:hover .cover2{
     font-size: 14px;
     font-family: Montserrat-Medium; 
     color: white; 
     background-color: rgba(0, 0, 0, 0.4);
     transition: all .3s ease-in-out;
}
.select-btn-group{
	 width: 100%;
     margin: 120px 0 30px 0;
     float: left;
     list-style:none;
     padding: 0;
     font-family: Montserrat-Medium;
     font-size:13px;
     color: #3D3D3D;
     display: block;
  }
}


@media screen and (min-width: 1600px){
.container1{
     width: 70%;
     margin-left: auto;
     margin-right: auto;
}
.container1::after{
     content:"";
     display: block;
     clear: both;
}
.container2{
     width: 70%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
}
.container2::after{
     content:"";
     display: block;
     clear: both;
}
.row{
     margin: 0;
     position: relative;
     clear: both;
}
.row::after{
     content:"";
     display: block;
     clear: both;
}
.item{
     background: white;
     border: 1px solid rgba(0,0,0,0.06);
     position: relative;
     padding: 0;
     transition: all .2s ease-in-out;
}
.item02{
     background: white;
     border: 5px solid rgba(0,0,0,0);
     position: relative;
     padding: 0;
     transition: all .2s ease-in-out;
}
img{
     width: 30%;
     padding-top: 50%; 
     background: transparent;
     background-size: 100%;
     background-position: center; 
     background-repeat: no-repeat;
     position: relative;
     margin: auto;
     margin-top: 0;
     transition: all .2s ease-in-out;
}
.img{
     padding-top: 100%;
     background-size: 80%;
     background-position: center; 
     background-repeat: no-repeat;
     position: relative;
     transition: all .2s ease-in-out;
}
.photo{
     height: 21vw;
     background-size: 110%;
     background-position: center; 
     background-repeat: no-repeat;
     position: relative;
     transition: all .2s ease-in-out;
}
.cover2{
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     background-color: transparent;
     transition: all .2s ease-in-out;
     position: absolute;
}
.img:hover{
     background-size: 50%;
     transition: all .2s ease-in-out;
}
.img:hover .cover2{
     background-color: rgba(0, 0, 0, 0.4);
     transition: all .3s ease-in-out;
}
.photo:hover{
     background-size: 130%;
     transition: all .2s ease-in-out;
}
.photo:hover .cover2{
     font-size: 14px;
     font-family: Montserrat-Medium; 
     color: white; 
     background-color: rgba(0, 0, 0, 0.4);
     transition: all .3s ease-in-out;
}
.select-btn-group{
     width: 100%;
     margin: 160px 0 30px 0;
     float: left;
     list-style:none;
     padding: 0;
     font-family: Montserrat-Medium;
     font-size:13px;
     color: #3D3D3D;
     display: block;
  }
}

/*#myModal{
     width: 70vw;
     height: 50vw; 
     background: white;
     border: 1px solid rgba(0,0,0,0.06);
     position: relative;
     padding: 0;
     transition: all .2s ease-in-out;
}*/

.btn-select{
/*     border: 1px solid rgba(0,0,0,0.2);*/
     display: inline;
     padding: 0.75vw 3vw;
     line-height: 4;
     border-radius: 30px;
     margin: 20px 6px 20px 6px;
  }
.btn-select:hover{
     background: rgba(0,0,0,0.4);
     outline-offset: -1px solid rgba(0,0,0,0.4);
     color: white;
     transition: all .3s ease-in-out;
  }
.active1{
     background: #1b1d1f;
     outline-offset: -1px solid rgba(0,0,0,0.8);
     color: white;
     transition: all .3s ease-in-out;
}
.active1:hover{
     background:  #1b1d1f;
     outline-offset: -1px solid rgba(0,0,0,0.8);
     color: white;
}
.btn-select-link{
     display: inline;
     padding: 0.75vw 3vw;
     border-radius: 30px;
     margin: 20px 6px 20px 6px;
}
.btn-select-link:hover{
     background: #ffe300;
     outline-offset: -1px solid rgba(0,0,0,0.4);
     color: #3D3D3D;
     transition: all .3s ease-in-out;
}
a{
     color: #3D3D3D;
     text-decoration:none;
}
a:hover{
     text-decoration:none;
}


@media screen and (max-width: 767px){
.footer{
     width: 100%;
     height: 195px;
     margin-top: 120px;
     background-color: #141618;
}
  .footer-last{
     font-family: Poppins-Light;
     font-size: 13px;
     color: white;
     padding-top: 70px;
     display: flex;
     justify-content: center;
  }
  .container3{
     text-align: center;
     margin-top: 8px;
  }
  .share{
     width: 40px;
     height: 40px;
     background-size: 40%;
     background-position: center; 
     background-repeat: no-repeat;
     display: inline-block;
  }
}
@media screen and (min-width: 768px){
.footer{
     width: 100%;
     height: 75px;
     margin-top: 120px;
     background-color: #141618;
}
  .footer-last{
     font-family: Poppins-Light;
     font-size: 13px;
     color: white;
     padding-top: 27px;
     float: left;
     position: absolute;
     left: 36px;
  }
  .container3{
     float: right;
     margin-right: 36px;
     margin-top: 16px;
  }
  .share{
     width: 40px;
     height: 40px;
     background-size: 40%;
     background-position: center; 
     background-repeat: no-repeat;
     display: inline-block;
  }
}
